extends layout

block content
  h1= title
  p Please enter your name.

  form(name="enter-name", method="post" action="/hello")
      div.input
          span.label Name: 
          input(type="text", name="name")
      div.actions
          input(type="submit", value="Submit")
